# composer
vendor
composer.lock

# php (phpunit)
build/logs/
.phpunit.result.cache

# phpcs fixer
.php_cs.cache

# PhpStorm
.idea/

# php box
/.box_dump/
/phpdoctor.phar
/phive.phar
/box.phar

# phive
/tools/
